@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: 100vh;
}

.main_con {
  display: flex;
  width: 480px;
  max-width: 90%;
  background-color: #fff;
  min-height: 600px;
}

.intro_con > h2 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 20px;
  word-break: keep-all;
}

.qa_con > h2 {
  font-weight: 500;
  font-size: 18px;
  word-break: keep-all;
  margin-bottom: 30px;
}

.result_con > h2 {
  font-weight: 500;
  font-size: 18px;
  word-break: keep-all;
  margin-bottom: 30px;
}

.qa_con .answer_con {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_con button {
  display: block;
  border: none;
  background-color: lightpink;
  max-width: 250px;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
}

.qa_con button + button {
  margin-top: 10px;
}

.content_container {
  /* display: none; */
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_container.active {
  display: flex;
}

.result {
  max-height: 50vh;
  overflow: auto;
  margin: 30px 0;
  padding-right: 10px;
}

.result li::marker {
  display: none;
}

.result li::before {
  content: "•";
  color: rgb(248, 193, 129);
  position: absolute;
  left: 0;
  top: 0px;
}

.result li + li {
  margin-top: 10px;
}

/* .result_infor::-webkit-scrollbar {
  width: 3px;
}

.result_infor::-webkit-scrollbar-thumb {
  background: rgb(248, 193, 129);
}

.result_infor::-webkit-scrollbar-track {
  background: transparent
} */
